<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartIndiaHackathon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>tendorNoticeController</display-name>
    <servlet-name>tendorNoticeController</servlet-name>
    <servlet-class>sis.com.controller.tendorNoticeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tendorNoticeController</servlet-name>
    <url-pattern>/tendorNoticeController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>hospitalRegController</display-name>
    <servlet-name>hospitalRegController</servlet-name>
    <servlet-class>sis.com.controller.hospitalRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hospitalRegController</servlet-name>
    <url-pattern>/hospitalRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHospital</display-name>
    <servlet-name>ShowHospital</servlet-name>
    <servlet-class>sis.com.controller.ShowHospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHospital</servlet-name>
    <url-pattern>/ShowHospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insert</display-name>
    <servlet-name>insert</servlet-name>
    <servlet-class>sis.com.controller.insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowPhoto</display-name>
    <servlet-name>ShowPhoto</servlet-name>
    <servlet-class>sis.com.controller.ShowPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPhoto</servlet-name>
    <url-pattern>/ShowPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewImageController</display-name>
    <servlet-name>ViewImageController</servlet-name>
    <servlet-class>sis.com.controller.ViewImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewImageController</servlet-name>
    <url-pattern>/ViewImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subscribe</display-name>
    <servlet-name>Subscribe</servlet-name>
    <servlet-class>sis.com.controller.Subscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subscribe</servlet-name>
    <url-pattern>/Subscribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>sis.com.controller.NewSchemes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/new_schemes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>sis.com.controller.AddSchemes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/add_schemes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s3</servlet-name>
    <servlet-class>sis.com.controller.ViewSchemes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s3</servlet-name>
    <url-pattern>/view_schemes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s4</servlet-name>
    <servlet-class>sis.com.controller.DeleteSchemes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s4</servlet-name>
    <url-pattern>/delete_schemes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s5</servlet-name>
    <servlet-class>sis.com.controller.SearchSchemes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s5</servlet-name>
    <url-pattern>/search_schemes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageOutController</display-name>
    <servlet-name>ImageOutController</servlet-name>
    <servlet-class>sis.com.controller.ImageOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageOutController</servlet-name>
    <url-pattern>/ImageOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createSchemeDbController</display-name>
    <servlet-name>createSchemeDbController</servlet-name>
    <servlet-class>sis.com.controller.createSchemeDbController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createSchemeDbController</servlet-name>
    <url-pattern>/createSchemeDbController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DynamicFormRegistrationController</display-name>
    <servlet-name>DynamicFormRegistrationController</servlet-name>
    <servlet-class>sis.com.controller.DynamicFormRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DynamicFormRegistrationController</servlet-name>
    <url-pattern>/DynamicFormRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreviewDynamicFormController</display-name>
    <servlet-name>PreviewDynamicFormController</servlet-name>
    <servlet-class>sis.com.controller.PreviewDynamicFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewDynamicFormController</servlet-name>
    <url-pattern>/PreviewDynamicFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFormController</display-name>
    <servlet-name>GetFormController</servlet-name>
    <servlet-class>sis.com.controller.GetFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFormController</servlet-name>
    <url-pattern>/GetFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>sis.com.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
    <description></description>
    <display-name>Subscribe</display-name>
    <servlet-name>Subscribe</servlet-name>
    <servlet-class>sis.com.controller.Subscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subscribe</servlet-name>
    <url-pattern>/Subscribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hospitalRegController</display-name>
    <servlet-name>hospitalRegController</servlet-name>
    <servlet-class>sis.com.controller.hospitalRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hospitalRegController</servlet-name>
    <url-pattern>/hospitalRegController</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>BenificaryRegistrationController</display-name>
    <servlet-name>BenificaryRegistrationController</servlet-name>
    <servlet-class>sis.com.controller.BenificaryRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenificaryRegistrationController</servlet-name>
    <url-pattern>/BenificaryRegistrationController</url-pattern>
  </servlet-mapping>
 <!--  <servlet>
    <description></description>
    <display-name>ShowHospital</display-name>
    <servlet-name>ShowHospital</servlet-name>
    <servlet-class>sis.com.controller.ShowHospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHospital</servlet-name>
    <url-pattern>/ShowHospital</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>monthlyCheckController</display-name>
    <servlet-name>monthlyCheckController</servlet-name>
    <servlet-class>sis.com.controller.monthlyCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monthlyCheckController</servlet-name>
    <url-pattern>/monthlyCheckController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showMonthDetailController</display-name>
    <servlet-name>showMonthDetailController</servlet-name>
    <servlet-class>sis.com.controller.showMonthDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showMonthDetailController</servlet-name>
    <url-pattern>/showMonthDetailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkOTPcontroller</display-name>
    <servlet-name>checkOTPcontroller</servlet-name>
    <servlet-class>sis.com.controller.checkOTPcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkOTPcontroller</servlet-name>
    <url-pattern>/checkOTPcontroller</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>acceptSchemeRequestController</display-name>
    <servlet-name>acceptSchemeRequestController</servlet-name>
    <servlet-class>sis.com.controller.acceptSchemeRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptSchemeRequestController</servlet-name>
    <url-pattern>/acceptSchemeRequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>womenDashboardController</display-name>
    <servlet-name>womenDashboardController</servlet-name>
    <servlet-class>sis.com.controller.womenDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>womenDashboardController</servlet-name>
    <url-pattern>/womenDashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>appealController</display-name>
    <servlet-name>appealController</servlet-name>
    <servlet-class>sis.com.controller.appealController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appealController</servlet-name>
    <url-pattern>/appealController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreviewRegisterController</display-name>
    <servlet-name>PreviewRegisterController</servlet-name>
    <servlet-class>sis.com.controller.PreviewRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewRegisterController</servlet-name>
    <url-pattern>/PreviewRegisterController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ViewBenificiaryController</display-name>
    <servlet-name>ViewBenificiaryController</servlet-name>
    <servlet-class>sis.com.controller.ViewBenificiaryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBenificiaryController</servlet-name>
    <url-pattern>/ViewBenificiaryController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SetAttributes</display-name>
    <servlet-name>SetAttributes</servlet-name>
    <servlet-class>sis.com.controller.SetAttributes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAttributes</servlet-name>
    <url-pattern>/SetAttributes</url-pattern>
  </servlet-mapping>
  
</web-app>